//
// Colors
//

// Override Bootstrap color systel colors

// $blue: #1c1b1f;
// $purple: #d0bcff;
$blue: #510584;
$purple: #f7b49f;

// Override Bootstrap default state colors

$primary: $blue;
$secondary: $purple;
